= stylesheet_link_tag "squeeze", :media => "all"
= form_for(@subscriber, :url => {:action => 'subscribe_post'}) do |f|
  .top-buffer-1
    .container
      - if @subscriber.errors.any?
        .alert.alert-danger
          #ul
            - @subscriber.errors.full_messages.each do |msg|
              #li
                =msg
      .panel.panel-primary
        .panel-heading
          .panel-title
            =image_tag("logo.png", :alt => "logo", :id => "logo")
            ="To receive awesome deals in and around #{@location_text}, just enter your details: "
        .panel-body
          = f.hidden_field :location
          = f.hidden_field :distance
          .form-group
            = f.label :name, 'Your name'
            = f.text_field :name, {:class => 'form-control'}
          .form-group.spacer-1
            = f.label :email, 'Your email address'
            = f.text_field :email, {:class => 'form-control'}
          .form-group.spacer-2
            .col-lg-12
              = f.submit 'Subscribe', {:class => 'form-control btn-primary subscribe-button'}