= form_for(@subscriber, :url => {:action => 'subscribe_options_post'}) do |f|
  = f.hidden_field :key
  .jumbotron
    .container
      - if @subscriber.errors.any?
        .alert.alert-danger
          #ul
            - @subscriber.errors.full_messages.each do |msg|
              #li
                =msg
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Update Subscription  Options
        .panel-body
          .form-group
            = f.label :location, 'Send me deals near'
            = f.text_field :location, {:class => 'form-control'}
          .form-group
            = f.label :distance, 'Within'
            = f.select(:distance, [['1km', 1],['2km', 2],['5km', 5],['10km', 10]], {}, {:class => 'form-control'})
          .form-group.spacer-2
            .col-lg-12
              = f.submit 'Update', {:class => 'form-control'}
          .form-group.spacer-2
            .col-lg-12
              = f.submit 'Unsubscribe', {:class => 'form-control'}