= form_for(@subscriber, :url => {:action => 'subscribe_post'}) do |f|
  .fullwidthifrequired.top-buffer-1
    .container
      - if @subscriber.errors.any?
        .alert.alert-danger
          #ul
            - @subscriber.errors.full_messages.each do |msg|
              #li
                =msg
      .panel.panel-primary
        .panel-heading
          .panel-title
            Be The First To Hear About Deals In Your Area
        .panel-body
          .form-group
            = f.label :location, 'Location'
            = f.text_field :location, {:class => 'form-control'}
          .form-group
            = f.label :distance, 'Distance'
            = f.select(:distance, [['1km', 1],['2km', 2],['5km', 5],['10km', 10]], {}, {:class => 'form-control'})
          .form-group
            = f.label :name, 'Your name'
            = f.text_field :name, {:class => 'form-control'}
          .form-group.spacer-1
            = f.label :email, 'Your email address'
            = f.text_field :email, {:class => 'form-control'}
          .form-group.spacer-2
            .col-lg-12
              = f.submit 'Subscribe', {:class => 'form-control btn-primary subscribe-button'}