<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body bgcolor="#fff">
<div style="font-family:Arial, Verdana, sans-serif;">
  <p>Hello <%= @subscriber.name %>,</p>

  <p>We have found some great new deals in your area, check them out:</p>

  <table cellspacing="0" cellpadding="0" border="0" width="728">
    <% @points.each do |point|

       bgcolor = ["#fff", "#efefef"][@points.index(point) % 2]
    %>
        <tr>
          <td width="10" bgcolor="<%= bgcolor %>">&nbsp;</td>
          <td width="718" bgcolor="<%= bgcolor %>">
            <p style="font-size:1.3em;font-weight:bold;line-height:1em;">
              <%= point.title %>
            </p>

            <p>
              <%= point.detail %>. <%= "Deal is in #{point.city}." if point.city %>

            <p><%= link_to({:only_path => false, :controller => "home", :action => "go_to_deal", :id => point.id}, {:class => 'anchorblock'}) do %>
                  Click Here For The Deal
              <% end %>                        </p>


          </td>
        </tr>
    <% end %>
  </table>

  <p>Or search the <strong>entire world!</strong> by visiting
    <a href="http://www.spoffa.com/">the Spoffa website</a></p>

  <p style="font-size:1.3em;font-weight:bold;line-height:1em;margin-top:100px;">Your subscription</p>

  <p>
    Your chosen location is <%= @subscriber.location %> and we will send you deals
    within <%= @subscriber.distance %> kms. </p>

  <p>
    You can change your subscription options at any time, or unsubscribe using the
    link below: </p>

  <p>
    <%= link_to 'Change your subscription options', {:only_path => false, :controller => 'subscribe', :action => 'subscribe_options', :key => @subscriber.key} %>
  </p>
</div>
</body>
</html>