Hello <%= @subscriber.name %>,

We have found some great new deals in your area, check them out:
<% @points.each do |point| %>
<%= point.title %>
<%= point.detail %><%= point.detail %>. <%= "Deal is in #{point.city}." if point.city %>
<%= url_for({:only_path => false, :controller => "home", :action => "go_to_deal", :id => point.id})  %>

<% end %>
Or search the entire world by visiting http://www.spoffa.com

Your chosen location is <%= @subscriber.location %> and we will send you deals
within <%= @subscriber.distance %> kms.

You can change your subscription options at any time, or unsubscribe using the link below:

<%= url_for({:only_path => false, :controller => 'subscribe', :action => 'subscribe_options', :key => @subscriber.key}) %>
