<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p style="font-size:1.3em;font-weight:bold;line-height:1em;">Welcome to Spoffa alerts, <%= @subscriber.name %></p>

<p>
  You have successfully signed up to Spoffa alerts. You will receive an email
  every time a great new deal is available in your area. </p>

<p>
  Your chosen location is <%= @subscriber.location %> and we will send you deals
  within <%= @subscriber.distance %> kms. </p>

<p>
  You can change your subscription options at any time, or unsubscribe using the
  link below: </p>

<p>
  <%= link_to 'Change your subscription options', {:only_path => false, :controller => 'subscribe', :action => 'subscribe_options', :key => @subscriber.key} %>
</p>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>