Welcome to Spoffa alerts, <%= @subscriber.name %>

You have successfully signed up to Spoffa alerts. You will receive an email
every time a great new deal is available in your area.

Your chosen location is <%= @subscriber.location %> and we will send you deals
within <%= @subscriber.distance %> kms.

You can change your subscription options at any time, or unsubscribe using the link below:

<%= url_for({:only_path => false, :controller => 'subscribe', :action => 'subscribe_options', :key => @subscriber.key}) %>

Thanks for joining and have a great day!

