<ul>
  <h1>Provider Stats</h1>
  <% @providers.each do |providergroup| %>
      <li>
        Provider '<%= providergroup['provider'] %>' has <%= number_with_precision(providergroup['count'], :precision => 0)   %> points
      </li>

  <% end %>
</ul>