<ul>
  <% @results.each do |result| key = result["key"]%>
      <li>
        <%= link_to "contents", controller:"admin", action:"scrapecache_contents", key:key %>
        <%= link_to "remove", controller:"admin", action:"scrapecache_remove", key:key %>
        <%= result["key"] %>
      </li>

  <% end %>
</ul>