%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th
        Email
      %th
        Name
      %th
        Location
      %th
        Distance
      %th
        Last Email Sent
      %th
        Record Created At
      %th
        Record Updated At
  - @subscribers.each do |s|
    %tr
      %td
        =s.email
      %td
        =s.name
      %td
        =s.location
      %td
        =s.distance
      %td
        =s.last_email_time
      %td
        =s.created_at
      %td
        =s.updated_at

