    <% content_for :header do -%>
	<%= stylesheet_link_tag "deals", :media => "all" %>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<%= javascript_include_tag "deals" %>
<% end -%>
<div id="pagewrapper">
    <div id="header">
        <div class="headercolumn">
           <%= image_tag("logo.png", :alt => "logo", :id => "logo") %>
        </div>
        <div class="headercolumn">
            <div id="locationwrap">
                <form class="locationform" action="#">
                    <label for="location">Your Location</label>
                    <input id="locationinput" type="text" name="location" value="" />
                    <input id="locationbutton" type="button" value="Go" />
                </form>
            </div>
        </div>
        <div class="clearleft"></div>
    </div>
    <div id="map">
        <div id="map-canvas"></div>
    </div>

</div>


