<% content_for :header do -%>
    <%= stylesheet_link_tag "find_deals", :media => "all" %>
    <%= javascript_include_tag "find_deals" %>
<% end -%>
<div class="header">
  <h1 class="title">
    <% if @not_recognised %>
        Sorry we don't recognise the location <%= @address %>. Please try another location.
    <% else %>
        <% if @points.length > 0 %>
            Deals Near You
        <% else %>
            <% if @page == 1 %>
                Sorry we couldn't find any deals anywhere near <%= @address %>. Please try another location.
            <% else %>
                Sorry no more results for <%= @address %>. Click previous to go back.
            <% end %>
        <% end %>
    <% end %>
  </h1>
</div>
<div>
  <% if !@not_recognised && @points.length > 0  %>
      <!-- /header -->
      <%= link_to "<< previous", {:controller => "home", :action => "find_deals", :lq => @query, :page => @page - 1}, :id => "linkprevious" if @page > 1 %>
      <%= link_to "next >>", {:controller => "home", :action => "find_deals", :lq => @query, :page => @page + 1}, :id => "linknext" if @more_results %>

      <ul id="deallist" class="fullwidth">
        <% @points.length.times do |i| point = @points[i] %>
            <li class="deal">
              <%= link_to({:controller => "home", :action => "go_to_deal", :id => point.id}, {:class => 'anchorblock'}) do %>

                  <div class="infomini">

                    <span class="city"><%= "#{point.city}, " if point.city %></span>
                    <%= point.distance_metric_display %>
                    <%= image_tag("providericons/#{point.id[0..2]}.jpg", height: 32, width: 32) %>
                  </div>

                  <h2>
                    <%= point.title %>
                  </h2>

                  <p>
                    <%= point.detail %>
                  </p>
              <% end %>
            </li>
            <% if i == 1 || ( @points.length < 2 && i == @points.length - 1) %>
                <li class="subscribe-button-container">
                  <%= link_to 'Email me deals like these', {:controller => 'subscribe', :action => 'subscribe', :lq => @query}, :class => 'btn btn-primary btn-lg' %>
                </li>
            <% end %>
        <% end %>
      </ul>
  <% end %>
</div>
</div>