<% content_for :header do -%>
    <%= stylesheet_link_tag "index", :media => "all" %>
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <%= javascript_include_tag "index" %>
<% end -%>
<%= form_tag("/finddeals", method:"get", :html => { :style => 'background-color:red;' }) do %>


    <div class="container dnybox">
      <% content_for :alert do -%>
          <a id="usemylocation"  href="#">
            <div class="nonfullwidthalertwrap">
            <div class="alert alert-info vanish nonfullwidthalert" id="usemylocation_container">
              Click Here to get your <strong>Current Location</strong>
            </div>
            </div>
          </a>
      <% end -%>


      <div class="row fullwidthifrequired spacer-2">
        <h1 class="title">Enter your location:</h1>
        <form class="form-inline">
          <p><%= text_field_tag(:lq, nil, {:placeholder=>"Address or City", :class=>"form-control"}) %></p>
        </form>
      </div>

      <div class="row top-buffer-1">
        <p>
          <%= submit_tag("Show Deals", {:class=>"btn btn-primary btn-lg"} ) %>
        </p>
      </div>
    </div>

<% end %>