
html, body {
    font-family:Arial, Verdana, sans-serif;
}

#logo {
    width:728px;
    height:90px;
}

h1
{
    text-align:center;
}

.spacer-1 {
    margin-top: 20px;
}

.spacer-2 {
    margin-top: 40px;
}

footer {
    margin-top:200px;
    text-align: center;
}

.alert
{
    text-align: center;
}

.nonfullwidthalert
{
    display:inline-block;
}

.nonfullwidthalertwrap
{
    text-align: center;
}

.fullwidth
{
    width:100%;
}

@media (max-width: 768px) {
    .container
    {
        padding-left:25px;
        padding-right:25px;

    }
    #logo
    {
        width:100%;
        height: auto;
    }
    .fullwidthifrequired
    {
        width:100%;
    }
}


@media (min-width: 768px) {
    .fullwidthifrequired
    {
        width:70%;
        margin-left:auto;
        margin-right:auto;
    }
    .body {
        width: 768px;
        margin-left:auto;
        margin-right:auto;
    }
    .alert {
        margin-left:auto;
        margin-right:auto;
    }
}


@keyframes alertanimate {
    0% {
        display:none;
        opacity: 0;
    }

    1% {
        display: block ;
        opacity: 0;
    }

    100% {
        display: block ;
        opacity: 1;
    }
}

@-webkit-keyframes alertanimate
{
    0% {
        display:none;
        opacity: 0;
    }

    1% {
        display: block ;
        opacity: 0;
    }

    100% {
        display: block ;
        opacity: 1;
    }
}

.alert {
    animation: alertanimate 2s;
    -webkit-animation: alertanimate 2s;
}

.title {
    font-family: 'Racing Sans One', cursive;
}

.vanish
{
    display:none;
}
.body
{
    margin-top:20px;
}

.top-buffer-1 { margin-top:20px; }


.subscribe-button
{
    width:50%;
    display:block;
    margin:0px auto;
}
