.ui-autocomplete {
	background-color: white;
	width: 500px;
	border: 1px solid #cfcfcf;
	list-style-type: none;
	padding-left: 0px;
}

.ui-autocomplete li {
    padding:2px;
    cursor:pointer;
}

.ui-helper-hidden-accessible {
    display:none;
}

