//= require autocompletemap

#pagewrapper {
    display: table;
    height: 100%;
    width: 100%;
}

#map {
    display: table-row;  /* height is dynamic, and will expand... */
    height: 100%;        /* ...as content is added (won't scroll) */
	width: 100%;
}

#map-canvas, #map_canvas {    
    height: 100%;        /* ...as content is added (won't scroll) */
	width: 100%;
}

#header {
    display: table-row;
	background: #fff;
    width:100%;
}

#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}

#logo {
	margin: 32px 0px 32px 0px;
}

.headercolumn {
	float:left;
	height:100px;
	margin-left:25px;
}

.clearleft {
	clear:left;
}

#locationwrap {
	width:300px;
	height:50px;
	margin:25px 0 25px 0;
}

.locationform label {
	font-family:Aharoni, sans-serif;
	font-size:20px;	
	width:300px;
    display:inline-block;
}


.locationform input[type="text"] {
    height:20px;
	width:250px;
    display:inline-block;
}

.locationform input[type="button"]
{
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:20px;
	width:40px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}

.locationform input[type="button"]:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}

.locationform input[type="button"]:active{
    position:relative;
	top:1px;
}


.gm-style-iw .iw_title {
font-weight: bold !important;
}


@media print {
	html, body {
		height: auto;
	}

	#map-canvas, #map_canvas {
		height: 650px;
	}
}
