//= require common/bootstrap.css


ul {
    display:block;
    padding: 0;
    margin: 0;
    -webkit-padding-start: 0;
}

#deallist .deal {
    padding: 10px 10px 10px 10px;
    background-color: #efefef;
    border-radius: 20px;
}

#deallist li {
    margin-bottom: 10px;
    list-style-type: none;
    position: relative;
}

#deallist .anchorblock {
    color: inherit;
    text-decoration: inherit;
}

#deallist .infomini img {
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
}

#deallist .infomini {
    font-size: 0.8em;
    float: right;
    height: 32px;
    margin: -10px -10px 0 0;
    line-height: 1em;
}

.address {
    font-size: 0.4em;
}

li h2 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    margin-top: 0.1em;
}

.header {
    margin-top: 40px;
}

.subscribe-button-container
{
    text-align: center;
}

.subscribe-button-container a,
.btn
{
    width:100%;
}